
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm</title>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        .insert-box {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        .txt {
            display: block;
            font-weight: bold;
            width: 200px;
            text-align: left;
            font-size: 13pt;
        }

        .bx {
            float: left;
            display: block;
            width: 300px;
            border: 2px solid black;
        }

        .clr {
            clear: both
        }

        .btn-log {
            display: block;
            width: 330px;
            border: 2px solid black;
            height: 30px;
            line-height: 13px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            box-shadow: -3px 14px 7px -6px rgba(0,0,0,0.6);
            font-size: 13pt;
        }
    </style>
</head>
<body>
    <label id="title-log" style="font-size:55px; display:block;width:350px; margin-left:auto; margin-right:auto; margin-top: 100px">ĐĂNG NHẬP</label>
    <div class="insert-box">
        <form class="frm-log">
            <br />
            <div class="row">
                <div class="col-md-5"><label class="txt"> Hộ gia đình(Ông bà): </label></div>
                <label class="txt ml-3">Nguyễn Văn A</label>
            </div>
            <div class="row">
                <div class="col-md-5"><label class="txt">Mã xác thực đăng nhập:</label> </div>
                <div class="col-md-7"><input type="password" class="pass-box bx" /></div>
            </div>
            <input type="submit" class="btn-log" value="Đăng nhập hệ thống" />
        </form>
    </div>
    <script src="~/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>