<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="~/css/resize.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div>
            <div class="row columns-80 web-header mr-auto ml-auto">
                <div class="columns-10 float-left">
                    <img class="logo" src="~/img/quochuydangcsvn.png" />
                </div>
                <div class="columns-80 float-left">
                    <p class="title">SỞ LAO ĐỘNG - THƯƠNG BINH & XÃ HỘI HẢI PHÒNG</p>
                    <p class="sub-title">Khảo sát dữ liệu việc làm trên địa bàn Hải Phòng năm 2019</p>
                </div>
                <br />
            </div>
            <hr class="clr-b" />
        </div>
    </header>
    <content>
        @RenderBody()
    </content>
    <footer class="footer">
        <h4 class="ft"><span>Bản quyền thuộc: ...</span><span>Phát triển bởi: ...</span></h4>
    </footer>
</body>
</html>
